a{
  margin:10px;
}
#product-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.box {
  position: relative;
  width: 22%;
  height: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  margin: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.thumbnail{
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.image-notfound{
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.button-box2{
  position: absolute;
  height: 30%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  opacity: 0;
}

.delete-form{
  height: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
}
.btnmargin{
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 0px) and (max-width: 450px) {

  .delete-form{
    height: 50%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
  }

  .btnmargin{
    height: 100%;
    width: 30%;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    
  }
 .button-text{
   height: 60%;
   font-size: 30%;
   vertical-align: text-top;
 }
}
@media (min-width: 450px) and (max-width: 660px) {

  .delete-form{
    height: 50%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
  }

  .btnmargin{
    height: 100%;
    width: 30%;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    
  }
 .button-text{
   height: 60%;
   font-size: 40%;
   vertical-align: text-top;
 }
}

@media (min-width: 660px) and (max-width: 1200px) {

  .delete-form{
    height: 50%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
  }

  .btnmargin{
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    
  }
 .button-text{
   height: 100%;
   font-size: 60%;
   vertical-align: text-top;
 }
}
.imgbuttons{
  margin-left: 10px;
  margin-right: 10px;
  height: 60%;
  width: 25%;
  transform: translateY(50%);
}

.box:hover .button-box2{
  opacity: 1;
}

.box:hover img{
  opacity: 0.3;
}

#index-container, #register-container, #login-container{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  width:45%;
  text-align: center;
}


